<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC ".//mybaits.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopcart.mapper.ShopCartMapper">
    <select id="getAllShopCart" resultType="com.shopcart.bean.ShopCart">
        select * from ShopCartList
    </select>
    <insert id="insertShopCart" parameterType="com.shopcart.bean.ShopCart">
        insert into ShopCartList(product_name,product_price)
        values(#{product_name},#{product_price})
    </insert>
</mapper>